Django==4.1
django-celery-beat==2.5.0
django-cors-headers==4.0.0
django-crontab==0.7.1
django-filter==22.1
django-model-utils==4.3.1
django-restframework==0.0.1
django-timezone-field==5.0
djangorestframework==3.14.0
